[user]
  name = michael-a-grammar
  email = 5898731+michael-a-grammar@users.noreply.github.com
[push]
  autoSetupRemote = true
[pull]
  rebase = true
[core]
  autocrlf = input
[color]
  ui = auto
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[mergetool "nvim"]
  cmd = "nvim -f -c \"Gdiffsplit!\" \"$MERGED\""
[merge]
  tool = nvim
[mergetool]
  prompt = true
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[diff]
  tool = nvimdiff
[difftool]
  prompt = true
[github]
  user = michael-a-grammar
