[submodule "alacritty/catppuccin"]
	path = alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty
	branch = main
[submodule "bat/catppuccin"]
	path = bat/catppuccin
	url = https://github.com/catppuccin/bat
	branch = main
[submodule "delta/catppuccin"]
	path = delta/catppuccin
	url = https://github.com/catppuccin/delta
	branch = main
[submodule "dunst/catppuccin"]
	path = dunst/catppuccin
	url = https://github.com/catppuccin/dunst
	branch = main
[submodule "fzf/catppuccin"]
	path = fzf/catppuccin
	url = https://github.com/catppuccin/fzf
	branch = main
[submodule "helix/catppuccin"]
	path = helix/catppuccin
	url = https://github.com/catppuccin/helix
	branch = main
[submodule "i3/catppuccin"]
	path = i3/catppuccin
	url = https://github.com/catppuccin/i3
[submodule "kitty/catppuccin"]
	path = kitty/catppuccin
	url = https://github.com/catppuccin/kitty
	branch = main
[submodule "lazygit/catppuccin"]
	path = lazygit/catppuccin
	url = https://github.com/catppuccin/lazygit
	branch = main
[submodule "nushell/catppuccin"]
	path = nushell/catppuccin
	url = https://github.com/catppuccin/nushell
	branch = main
[submodule "polybar/catppuccin"]
	path = polybar/catppuccin
	url = https://github.com/catppuccin/polybar
	branch = main
[submodule "rofi/catppuccin"]
	path = rofi/catppuccin
	url = https://github.com/catppuccin/rofi
	branch = main
[submodule "superfile/catppuccin"]
	path = superfile/catppuccin
	url = https://github.com/catppuccin/superfile
	branch = main
[submodule "television/catppuccin"]
	path = television/catppuccin
	url = https://github.com/catppuccin/television
	branch = main
[submodule "warp-terminal/catppuccin"]
	path = warp-terminal/catppuccin
	url = https://github.com/catppuccin/warp
	branch = main
